/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/regulator/qcom,rpmh-regulator.h>
#include <dt-bindings/dma/qcom-gpi.h>
#include <dt-bindings/iio/qcom,spmi-adc7-pm8350.h>
#include <dt-bindings/iio/qcom,spmi-adc7-pm8350b.h>
#include <dt-bindings/iio/qcom,spmi-adc7-pmk8350.h>
#include <dt-bindings/iio/qcom,spmi-adc7-pmr735a.h>
#include <dt-bindings/iio/qcom,spmi-adc7-pmr735b.h>
#include "sm8350.dtsi"
#include "pm8350.dtsi"
#include "pm8350b.dtsi"
#include "pm8350c.dtsi"
#include "pmk8350.dtsi"
#include "pmr735a.dtsi"
#include "pmr735b.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. lahaina v1 SoC";
	compatible = "qcom,sm8350", "qcom,lahaina";
	qcom,msm-id = <415 0x10000>, <456 0x10000>;
	qcom,board-id = <0 0>;
        oppo,dtsi_no = <0x5093>;
	interrupt-parent = <&intc>;

	#address-cells = <2>;
	#size-cells = <2>;

        chassis-type = "handset";

	aliases {
                display0 = &framebuffer0;
	};

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		stdout-path = "display0";

		framebuffer0: framebuffer@e4d00000 {
			compatible = "simple-framebuffer";
			reg = <0x0 0xe4d00000 0x0 0x02300000>;
			width = <1080>;
			height = <2400>;
			stride = <(1080 * 4)>;
			format = "a8r8g8b8";
			clocks = <&gcc GCC_DISP_HF_AXI_CLK>,
				 <&gcc GCC_DISP_SF_AXI_CLK>;
		};
	};

        reserved_memory: reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

                splash_memory: splash_region {
                        reg = <0x0 0xe4d00000 0x0 0x02300000>;
                        no-map;
                        label = "cont_splash_region";
                };

                removed_mem {
                        reg = <0x0 0xd8800000 0x0 0x8e00000>;
                };

                dfps_data_memory {
                        reg = <0x0 0xe7000000 0x0 0x0100000>;
                        label = "dfps_data_region";
                };

                memshare_region {
                        alignment = <0x00 0x100000>;
                        alloc-ranges = <0x00 0x00 0x00 0xdfffffff>;
                        compatible = "shared-dma-pool";
                        size = <0x00 0x800000>;
                        phandle = <0x30>;
                        no-map;
                };

                cnss_wlan_region {
                        compatible = "shared-dma-pool";
                        alloc-ranges = <0x00 0x00 0x00 0xffffffff>;
                        alignment = <0x00 0x400000>;
                        size = <0x00 0x1400000>;
                        phandle = <0x290>;
                        no-map;
                };

                ramoops: ramoops@0xe9700000 {
                        compatible = "ramoops";
                        reg = <0x00 0xe9700000 0x00 0x05B8000>;
                        record-size = <0x40000>;
                        console-size = <0x40000>;
                        ftrace-size = <0x200000>;
                        pmsg-size = <0x200000>;
                };

                kboot_uboot_logmem@9fe00000 {
                        compatible = "oppo,xbl_uefi_kbootlog";
	                xbluefi-offset = <0x1f7000>;
	                reg = <0x00 0x9fe00000 0x00 0x200000>;
	                phandle = <0x6f5>;
                        no-map;
                };
        };

        gpio_keys {
		compatible = "gpio-keys";
		label = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&key_vol_down_default>;
		vol_up {
			label = "volume_down";
			gpios = <&pm8350_gpios 6 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			linux,code = <KEY_VOLUMEDOWN>;
			gpio-key,wakeup;
			debounce-interval = <15>;
			linux,can-disable;
		};
	};
};

&pon_pwrkey {
	status = "okay";
};

&pon_resin {
	linux,code = <KEY_VOLUMEUP>;
	status = "okay";
};

&pm8350_gpios {
	key_vol_down_default: key_vol_down_default {
		pins = "gpio6";
		function = "normal";
		input-enable;
		bias-pull-up;
		power-source = <1>;
	};
};

&pm8350c_gpios {
        otg_en_active: otg_en_active {
                pins = "gpio1";
                function = "normal";
                input-disable;
                output-high;
                bias-disable;
                power-source = <1>;
                drive-strength = <2>;
        };
};

&tlmm {
	gpio-reserved-ranges = <52 8>;
};
